<mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation">
              <!--this is a place for us to add side-nav code-->
              <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <!--in here all the content must reside. We will add a navigation header as well-->
            <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <main>
            <!-- <router-outlet></router-outlet> -->
        </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
<!-- <nav class="navbar">        
    <span class="navbar-toggle" id="js-navbar-toggle">
        <fa-icon [icon]="faBars"
        (click)="onMobileMenuClick(); "></fa-icon>
    </span>
    <a href="#" class="logo">logo</a>
    <ul class="main-nav" [ngClass]="{'active': navbarOpen}"  id="js-menu">
        <li>
            <a href="#" class="nav-links">Home</a>
        </li>
        <li>
            <a href="#" class="nav-links">Products</a>
        </li>
        <li>
            <a href="#" class="nav-links">About Us</a>
        </li>
        <li>
            <a href="#" class="nav-links">Contact Us</a>
        </li>
        <li>
            <a href="#" class="nav-links">Blog</a>
        </li>
    </ul>  
</nav> -->