<!--DISPLAY CROSS VALIDATIONS HERE. Any validation that is not bound to a property on the form that comes back from the server-->
  <app-loader *ngIf="(authFacade.loading$ | async) else auth"></app-loader>

  <ng-template #auth>  
  <mat-tab-group (selectedTabChange)="onTabChange($event)" [selectedIndex]="selected.value">
      <mat-tab label="Login">   
        <ng-template matTabContent>       
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" >
          <mat-form-field>                   
            <input matInput placeholder="Username" formControlName="username">
            <mat-error *ngIf="loginForm.get('username').invalid">You must enter a value</mat-error>            
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password">
            <mat-error *ngIf="loginForm.get('password').invalid">You must enter a value</mat-error>
          </mat-form-field>
          <div>
            <button mat-button [disabled]="!loginForm.valid">Login!</button>
          </div>
        </form>
      </ng-template>
      </mat-tab>
      <mat-tab label="Sign Up" >
        <ng-template matTabContent>  
        <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="username">            
              <mat-error *ngIf="usernameError != null else error">{{usernameError}}</mat-error>
              <ng-template #error>
                <mat-error>You must enter a value</mat-error>            
              </ng-template>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="E-mail" formControlName="email">
            <mat-error *ngIf="emailError != null else errorEmail">{{emailError}}</mat-error>                          
            <ng-template #errorEmail>
              <mat-error >You must enter a value</mat-error>
            </ng-template>            
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password">
            <mat-error *ngIf="signupForm.get('password').invalid">You must enter a value</mat-error>
          </mat-form-field>
          <div>
            <button mat-button [disabled]="!signupForm.valid">Sign Up!</button>
          </div>
        </form>   
      </ng-template>     
      </mat-tab>
    </mat-tab-group> 
  </ng-template>

    <!-- <ng-template #requestHandler>
      *ngIf="!(authFacade.loading$ | async) && !(authFacade.error$ | async) else requestHandler"
      <app-request-handler [loading$]="authFacade.loading$" [responseError$]="authFacade.error$">
      </app-request-handler>
    <ng-template> -->