<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <mat-horizontal-stepper>
    <mat-step>
      <ng-template matStepLabel></ng-template>      
        <mat-form-field>
          <input 
            matInput 
            placeholder="Movie Title" 
            formControlName="movieTitle"
            cdkFocusInitial>
        </mat-form-field>
        <mat-form-field>
          <input 
            matInput 
            placeholder="Post Title" 
            formControlName="postTitle">
          </mat-form-field>      
      <div>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel></ng-template>      
        <mat-form-field>
          <input matInput placeholder="Rating" formControlName="rating">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>      
      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button [disabled]="!postForm.valid">Post It!</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>