<mat-toolbar class="navbar" color="primary">
        <div class="navbar-toggle" id="js-navbar-toggle">
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div>
            <a routerLink="/home">logo</a>
        </div>
        <div>
            <ul class="main-nav" [ngClass]="{'active': navbarOpen}"  id="js-menu">
                <li>
                    <a class="nav-links" routerLink="/owner">Owner Actions</a>
                </li>
                <li>
                    <a class="nav-links" routerLink="/account">Account Actions</a>
                </li>
            </ul>
        </div>
</mat-toolbar>