<mat-card class="article-item">
  <mat-card-header>
    <mat-card-title>
      <div>
          <h1>
            {{index + 1}}. {{post.title}}
          </h1>
      </div>      
    </mat-card-title>
    <mat-card-subtitle>
      <div>
          {{ post.movie.title }}
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <ng-content></ng-content>
  <mat-card-content>
    <div>
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
    </div>      
  </mat-card-content>
  <mat-card-actions>
    <div class="article-buttons">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
      <button mat-button>COMMENTS</button>
    </div>    
  </mat-card-actions>
</mat-card>
