<section *ngIf="!(postsFacade.loading$ | async) && !(postsFacade.error$ | async) else requestHandler">
    <app-post-item (userLike)="onUserLiked($event)"
        class="list-item" 
        *ngFor="let post of postsFacade.posts$ | async; index as i" 
        [post]="post"
        [userIDs]="likedList"
        [index]="i">        
        <img class="movie-card-image" 
          [src]="post.moviePictureURL != null ? post.moviePictureURL : defaultImgSrc" 
          alt="Movie Placeholder Image"
          >
    </app-post-item>           
</section>

<ng-template #requestHandler>
  <app-request-handler [loading$]="postsFacade.loading$" [responseError$]="postsFacade.error$">
  </app-request-handler>
<ng-template>




 