<mat-toolbar class="navbar" color="primary">
        <div class="navbar-toggle" id="js-navbar-toggle">
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <!-- <div> -->
            <a routerLink="/home" class="nav-button">
                <span>
                    <img class="img-responsive" src="../../../assets/images/logo.png" alt="Directors Chair Logo">
                    <span>Movies Place</span>
                </span>                
                <div class="mat-button-focus-overlay"></div>                
            </a>
        <!-- </div> -->
        <div>
            <ul class="main-nav" [ngClass]="{'active': navbarOpen}"  id="js-menu">
                <li>
                    <a class="nav-links nav-button" routerLink="/owner">Home
                        <div class="mat-button-focus-overlay"></div>  
                    </a>
                                  
                </li>
                <li>
                    <a class="nav-links nav-button" routerLink="/account">Movies
                        <div class="mat-button-focus-overlay"></div>
                    </a>                                    
                </li>
                <li>
                    <a class="nav-links nav-button" routerLink="/account">Account
                        <div class="mat-button-focus-overlay"></div>
                    </a>                    
                </li>
                <li>
                    <a class="nav-links nav-button" routerLink="/account">Chat
                        <div class="mat-button-focus-overlay"></div>                
                    </a>                    
                </li>
            </ul>
        </div>
</mat-toolbar>