.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    color: #fff;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.main-nav {
    list-style-type: none;
}
.nav-links{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
}

.main-nav li{
    text-align: center;
    margin: 15px auto;
    display: inline-block;
}

.main-nav li a{
    vertical-align: middle;
}

.nav-button{
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
}

.navbar-toggle{
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
    color:rgba(255, 255, 255, 1);
    font-size: 24px;
}

.main-nav{
    list-style-type: none;
    display: none;
}

.active{
    display: block;
}

.active-route{
    background: #ffffff2b
}



.img-responsive{
    height: 26px;
    margin: 0 4px 3px 0;
    vertical-align: middle;
}

.mat-button-focus-overlay{
    background: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    border-radius: 4px;
    transition: opacity .2s cubic-bezier(.35,0,.25,1),background-color .2s cubic-bezier(.35,0,.25,1);
    opacity: 0;
}

.nav-button:hover .mat-button-focus-overlay,
.nav-links:hover .mat-button-focus-overlay{
    opacity: 0.04;
}

.logo{
    display: block;
    margin: 0 auto;
}

.ripple{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    border-radius: 4px;
}
.repo-picker{
    display: none;
}

/* Desktop media queries */

@media screen and (min-width: 768px){
    .navbar {
        display: flex;
        padding-bottom: 0;
        align-items: center;    }

    a span:nth-child(2){
        vertical-align: middle;
        color: rgba(255, 255, 255, 1);
    }

    .main-nav{
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .logo{
        margin: 0;
    }

    .main-nav li{
        margin: 0;
        cursor: pointer;        
        position: relative;
        border-radius: 4px;
    }

    .navbar-toggle {
       display: none;
    }
    .nav-links:hover {
        color:  rgba(255,255,255,0.8);
    }
    .repo{        
        position: absolute;
        right:0;
        margin-right: 16px;
    }
    .repo-picker{
        display: inline-block;
    }
}